/* .cla{
  background-color: red;
}
.card{

} */

.cla{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.title {
  font-size: 1.5em;
  margin: 16px 0;
}

.text {
  font-size: 1em;
  color: #555;
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
